/* section formatting */
body#tdsDocs div#container div#content div.sectionbody {
    border: 3px solid #CFCFCF;
    padding: 30px 30px 10px 30px;
    margin: 20px 0px 60px 0px;
}

body#tdsDocs div#container div#content div.sectionbody h2 {
    padding: 0px 0px 0px 0px;
    margin: -45px 0px 0px -15px;
    color: #9C9C9C;
    font-size: 16pt;
}

body#tdsDocs div#container div#content div.sectionbody h2 a {
    text-decoration: none;
    border: none;
    background-color: #FFFFFF;
    padding: 0px 10px 0px 10px;
    margin: 0px 10px 0px 0px;
}

body#tdsDocs div#container div#content div.sectionbody h2 a:hover {
    color: #9C9C9C;
}
