pre {
    position: relative;
    left: 20px;
    white-space: pre-wrap;
    font-size: 9pt;
    padding: 10px;
    background-color: #E7E7E7;
    border: 1px solid #CFCFCF;
    width: 85%;
}

code {
    color: #708090 !important;
}

dl {
    margin: 10px 5px 5px 15px;
}
