html, body {
    height:100%;
    margin: 0;
    padding: 0;
}

body{
   font-weight: normal;
   font-size: 10pt;
   font-family: Arial, Helvetica, sans-serif;
   color: #000000;
   text-decoration: none;
}

td {
   font-weight: normal;
   font-size: 10pt;
   font-family: Arial, Helvetica, sans-serif;
   color: #000000;
   text-decoration: none
}



A:link {
   font-family: Arial, Helvetica, sans-serif;
   color: #0000FF

}

A:visited {
   font-family: Arial, Helvetica, sans-serif;
   color: #A020F0
}

A:active {
   font-family: Arial, Helvetica, sans-serif;
   color: #FF0000;
}

a:hover {
   font-family: Arial, Helvetica, sans-serif;
   color: #FF0000;
   text-decoration: underline
}


A { text-decoration: none }


b {
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
}

i {
   font-style: italic;
   font-family: Arial, Helvetica, sans-serif;
}



a.navtitle:link {
   font-size: 10pt;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
   color: #FFFFFF;
}


a.navtitle:hover {
   font-size: 10pt;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
   color: #FFFFFF;
   text-decoration: underline
}

a.navtitle:visited {
   font-size: 10pt;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
   color: #FFFFFF;
}


a.bnav:link {
   font-size: 8pt;
   font-family: Arial, Helvetica, sans-serif;
   color: #FFFFFF;
}


a.bnav:hover {
   font-size: 8pt;
   font-family: Arial, Helvetica, sans-serif;
   color: #FFFFFF;
   text-decoration: underline
}

a.bnav:visited {
   font-size: 8pt;
   font-family: Arial, Helvetica, sans-serif;
   color: #FFFFFF;
}


a.menu:link {
   font-size: 10pt;
   font-family: Arial, Helvetica, sans-serif;
   color: #000000;
}

a.menu:hover {
   font-size: 10pt;
   font-family: Arial, Helvetica, sans-serif;
   color: #000000;
   text-decoration: underline
}

a.menu:visited {
   font-size: 10pt;
   font-family: Arial, Helvetica, sans-serif;
   color: #000000;
}



.menutitle {
   font-size: 9pt;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
   color: #FFFFFF;
   text-decoration: none;
}

.menutitle2 {
   font-size: 9pt;
   font-weight: normal;
   font-family: Arial, Helvetica, sans-serif;
   color: #FFFFFF;
   text-decoration: none;
}


td.greentab {
   background-image: url('/img/tabgreen.gif');
   background-repeat: no-repeat;
   background-position: center;
}


td.bluetab {
   background-image: url('/img/tabblue.gif');
   background-repeat: no-repeat;
   background-position: center;
}



td.t {
   background-image: url('/img/horizontal.gif');
   background-repeat: no-repeat;
   background-position: left;
}

.cat_title {
   font-weight: bold;
   font-size: 10pt;
   font-family: Arial, Helvetica, sans-serif;
   color: #FFFFFF;

}


.sub_g {
   font-weight: bold;
   font-size: 12pt;
   font-family: Arial, Helvetica, sans-serif;
   color: #000000;
   border-bottom:4px solid #CCCCCC
}

.sub_b {
   font-weight: bold;
   font-size: 12pt;
   font-family: Arial, Helvetica, sans-serif;
   color: #000000;
   border-bottom:4px solid #006699
}


h2 {
   font-size: 17pt;
   font-family: Arial, Helvetica, sans-serif;
   color: #9C9C9C;
}

small {
   font-size: 9pt;
   font-weight: normal;
   font-family: Arial, Helvetica, sans-serif;
   color: #000000;
}



small.imageinc {
   font-size: 9pt;
   font-weight: normal;
   font-family: Arial, Helvetica, sans-serif;
   color: #000000;
   text-align: justify;
}

div#header, div#footer {
    position: absolute;
    left: 0px;
    right: 0px;
    background-color: #06778F;
    padding: 3px 20px;
    border: 1px solid #CFCFCF;
    border-style: outset;
    box-sizing: border-box;
    overflow: hidden;
}

div#header {
    top: 0px;
    margin-bottom: 8px;
}

div#footer {
    bottom: 0px;
}

.header-logo {
    float: left;
    padding-top: 8px;
}

.header-info {
    margin-left: 75px;
    padding-top: 3px;
}

#footer-buffer, #header-buffer {
    background-color:  #E3E4E6;
    margin-top: 4px;
}

table.property-table {
    padding: 10px;
}

table.property-table > tbody > tr > td {
    border: 1px solid #CFCFCF;
    padding: 2px 5px;
    font-size: 12pt;
}

a.static {
    color: #FFFFFF;
}

a.static:visited {
    color: #FFFFFF;
}

div.container {
    background-color: #E3E4E6;
    min-height: 100%;
    width: 100%;
    position: relative;
    padding: 10px 50px;
    box-sizing: border-box;
}

div.content {
    margin-top: 8px;
    border: 1px solid #CFCFCF;
    background-color: #FFFFFF;
}

div.section-header {
    background-color: #81B2C0;
    padding: 5px;
    color: #FFFFFF;
    font-size: 14pt;
    font-weight: bold;
}

div.section-content {
    background-color: #FFFFFF;
    padding: 5px 10px;
}

div.button {
    text-align: right;
    padding: 5px;
}

* {
    word-wrap: break-word;
}

.button-pane {
    margin-top: 10px;
    overflow: hidden;
    background-color: #06778F;
}

.tab-button {
    background-color: #06778F;
    padding: 8px;
    font-size: 14pt;
    font-weight: bold;
    float:left;
    color: #FFFFFF;
}

.tab-button:hover {
    cursor: pointer;
    color: black;
    background-color: #E3E4E6;
}

.tab-button.active {
    background-color: #81B2C0
}

.tab-content {
    background-color: #FFFFFF;
    display: none;
    padding: 5px 10px;
    border: 1px solid #CFCFCF;
    min-height: 120px;
}

.tab-container {
    background-color: #81B2C0;
}

.banner {
  padding: 10px 20px;
  background-color: #81B2C0;
  border: 1px solid #9C9C9C;
}

.banner>h2 {
  color: #000000
}
