body {
    font-family: verdana, arial, sans-serif;
    font-size: 10pt;
    padding: 0px 10px 0px 10px;
    margin: 0px 0px 0px 0px;
    min-width: 600px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

small {
    font-size: 10pt;
}

code {
    font-size: 11pt;
    font-family: "Lucida Console", "Courier New", monospace;
    white-space: nowrap;
    color: #708090;
    font-weight: bold;
}

h1 {
    font-size: 20pt;
    padding: 15px 0px 10px 150px;
    margin: 10px 0px 50px 0px;
    background: transparent url('../images/unidataLogo.png') no-repeat 0px 0px;
}

#section {
    border: 3px solid #CFCFCF;
    padding: 0px 0px 0px 0px;
    margin: 20px 0px 60px 0px;
}

#section h2 {
    padding: 0px 0px 0px 0px;
    margin: -18px 0px 0px 0px;
    color: #9C9C9C;
    font-size: 16pt;
}

#section h2 a {
    border: none;
    background-color: #FFFFFF;
    padding: 0px 10px 0px 10px;
    margin: 0px 10px 0px 10px;

}

#section #subsection {
    padding: 0px 20px 0px 20px;
    margin: 20px 18px 40px 18px;
}

#section #subsection.exercise {
    background: #EFEFEF url('../images/exercise.gif') no-repeat 0px 0px;
    border: 3px solid #00B2EE;
    padding: 20px 15px 10px 100px;
    margin: -20px 30px 30px 30px;
}

#section #subsection h3 {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 20px -18px;
    font-size: 14pt;
    color: #000000;
}

#section #subsection.exercise h3 {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 20px 0px;
    font-size: 14pt;
    color: #000000;
}

#section #subsection.exercise ol {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 20px;
}

#section #subsection.exercise ol li {
    padding: 0px 0px 0px 0px;
    margin: 10px 0px 5px 0px;
    font-size: 11pt;
}

#section #subsection.exercise p {
    padding: 0px 0px 0px 10px;
    margin: 5px 0px 0px 0px;
}

#section #subsection.exercise .exercise_question {
    background: transparent url('../images/question.gif') no-repeat 10px 0px;
    padding: 20px 15px 10px 50px;
    margin: 0px 0px 0px 0px;

}

#section #subsection.exercise .exercise_question p {
    padding: 0px 0px 0px 10px;
    margin: -10px 0px 0px 0px;
}

#section #subsection p {
    padding: 0px 0px 0px 0px;
    margin: 10px 0px 10px 0px;
    font-size: 10pt;
}

#section #subsection pre {
    white-space: pre-wrap;
    position: relative;
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 0px 0px 20px 0px;
    padding: 5px 10px 5px 10px;
    background: #FAF8F0;
    border: 1px solid #BEBAB0;
    font-size: 9pt;
}

pre {
    white-space: pre-wrap;
    position: relative;
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 0px 0px 20px 0px;
    padding: 5px 10px 5px 10px;
    background: #FAF8F0;
    border: 1px solid #BEBAB0;
    font-size: 9pt;
}

#section #subsection ul {
    list-style-type: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

#section #subsection ul li {
    padding: 2px 0px 2px 25px;
    margin: 10px 0px 0px 0px;
    font-size: 12pt;
    background: transparent url('../images/check.gif') no-repeat 0px 0px;
}

#section #subsection ol {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 20px;
}

#section #subsection ol li {
    padding: 0px 0px 0px 0px;
    margin: 20px 0px 5px 0px;
    font-size: 12pt;
}

#section #subsection  ul.little {
    list-style-type: disc;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 25px;
}

#section #subsection  ul.little li {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 5px 0px;
    font-size: 10pt;
    background-image: none;
}

#section #subsection ol.little {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 25px;
}

#section #subsection ol.little li {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 5px 0px;
    font-size: 10pt;
    background-image: none;
}

#section #subsection #expanded {
    padding: 0px 10px 0px 48px;
    margin: 0px 0px 10px 18px;
}

#section #subsection #expanded h4 {
    font-weight: normal;
    padding: 0px 0px 0px 35px;
    margin: 20px 0px 10px 0px;
    font-size: 12pt;
}

#section #subsection #expanded ul {
    list-style-type: disc;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 50px;
}

#section #subsection #expanded ul li {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 5px 0px;
    font-size: 10pt;
    background-image: none;
}

#section #subsection #expanded p {
    padding: 10px 0px 10px 10px;
    margin: 0px 0px 0px 0px;
}

.troubleshooting {
    background: transparent url('../images/troubleshooting.gif') no-repeat 0px 0px;
}

.question {
    background: transparent url('../images/question.gif') no-repeat 10px 0px;
}

#section #subsection #note {
    z-index: 10;
    border: 1px dashed #CFCFCF;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 10px 50px;
    float: right;
    position: relative;
    width: 250px;
    right: 2px;
}

#section #subsection #note h4 {
    padding: 10px 0px 0px 55px;
    margin: 0px 0px 15px 0px;
    font-size: 12pt;
}

#section #subsection #note ul {
    list-style-type: disc;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 20px;
}

#section #subsection #note ul li {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 5px 0px;
    font-size: 9pt;
    background: none;
}

#section #subsection #note p {
    padding: 0px 0px 0px 0px;
    margin: 5px 0px 5px 0px;
}

.info {
    background: #EFEFEF url('../images/info.gif') no-repeat 10px 5px;
}

.reminder {
    background: #EFEFEF url('../images/reminder.gif') no-repeat 10px 5px;
}

.ahead {
    background: #EFEFEF url('../images/bulb.gif') no-repeat 10px 5px;
}

table {
    table-layout: auto;
    border-collapse: separate;
    font-size: 10pt;
}

th {
    text-align: left;
    background-color: #E7E7E7;
    border-spacing: 2px;
    border: 1px solid #CFCFCF;
    padding: 2px 5px 2px 5px;
    vertical-align: top;
}

td {
    text-align: left;
    background-color: #F7F7F7;
    border-spacing: 2px;
    border: 1px solid #CFCFCF;
    padding: 2px 5px 2px 5px;
    vertical-align: top;
}

table code {
    font-size: 10pt;
}

/* tooltips */
a.tooltip {
    color: #0000FF;
    text-decoration: none;
}

a.tooltip b {
    display: none;
}

a.tooltip:hover {
    border: 0px;
    position: relative;
    z-index: 500;
    text-decoration: none;
}

a.tooltip:hover b {
    display: block;
    position: absolute;
    top: 20px;
    left: -25px;
    padding: 5px;
    font-weight: normal;
    color: #000;
    border: 1px solid #000000;
    background: #FFFFFF;
    width: 300px;
}

a.tooltip:hover b em.outer {
    position: absolute;
    left: 20px;
    top: -8px;
    width: 0;
    height: 0;
    display: block;
    background: transparent;
    border-left: 7px dashed transparent;
    border-right: 7px dashed transparent;
    border-bottom: 7px solid #000000;
    overflow: hidden;
    z-index: 100;
}

a.tooltip:hover b em.inner {
    position: absolute;
    left: 20px;
    top: -7px;
    width: 0;
    height: 0;
    display: block;
    background: transparent;
    border-left: 7px dashed transparent;
    border-right: 7px dashed transparent;
    border-bottom: 7px solid #FFFFFF;
    overflow: hidden;
    z-index: 100
}

.clear {
    clear: both;
}



