<?xml version="1.0" encoding="UTF-8"?>

<configuration monitorInterval="30">

  <Appenders>

    <Console name="console" target="SYSTEM_OUT">
        <PatternLayout pattern="%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} [%10r][%8X{ID}] %-5p %c: %m%n"/>
    </Console>

  </Appenders>

  <loggers>

    <logger name="testLogger" level="debug" additivity="false">
        <appender-ref ref="console"/>
    </logger>

  </loggers>

</configuration>
