<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default. -->
        <encoder>
            <!-- See https://logback.qos.ch/manual/layouts.html#ClassicPatternLayout -->
            <pattern>%highlight([%d{HH:mm:ss.SSS} %-5level %logger{36}]) %message%n</pattern>
        </encoder>
    </appender>
    
    <!-- LOOK: Below are two example logging configurations. Use them as references when you need to selectively enable
         loggers, such as during development/debugging. Please make sure that you revert that config before committing
         to master; we don't want unnecessary log messages clogging our CI output.
    -->
    
    <!-- Log all messages from the "thredds.featurecollection" family of loggers at level DEBUG or higher to STDOUT.
    
         Each of our classes has its own logger, and that logger has the same name as the class itself.
         So, when we reference the "thredds.featurecollection" logger family, we're configuring the loggers of all
         classes in the "thredds.featurecollection" package, both main and test.
         
         Setting the additivity attribute to "false" prevents messages from being propagated to any logger that is
         higher in the hierarchy (such as the root logger). We don't want duplicate messages printed to STDOUT.
    -->
    <!--
    <logger name="thredds.featurecollection" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    -->
    
    <!-- This configuration element is similar to the one above except that it only affects a single logger:
         the one in thredds.featurecollection.TestFeatureDatasetCapabilitiesXML.
    -->
    <!--
    <logger name="thredds.featurecollection.TestFeatureDatasetCapabilitiesXML" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    -->
    
    <!-- Log all messages at level WARN or higher to STDOUT. -->
    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
