<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!--/* Replace this "head" element with the one in gridFragments. Pass the "title" element below to the fragment. */-->
<head th:replace="templates/commonFragments :: head(~{::title}, ~{::script})">
    <title>Catalog Services</title>
    <link rel="stylesheet" href="/thredds/tds.css" type="text/css">
    <script type="text/javascript" th:inline="javascript"></script>
</head>

<body>
<table width="100%">
    <tbody><tr><td>
        <img src="/thredds/threddsIcon.png" alt="Initial TDS Installation" align="left" valign="top" hspace="10" vspace="2">
        <h3><strong><a href="/thredds/catalog.html">Initial TDS Installation (please change threddsConfig.xml)</a></strong></h3>
        <h3><strong><a href="http://www.unidata.ucar.edu/software/thredds/current/tds/TDS.html">THREDDS Data Server</a></strong></h3>
    </td></tr>
    </tbody>
</table>

<h2> Catalog http://localhost:8081/thredds/catalog/testAll/catalog.html</h2>
<h2>Dataset: testgrid1.nc</h2>
<ul>
    <li><em>Data size: </em>216.0 bytes</li>
    <li><em>Feature type: </em>Grid</li>
    <li><em>ID: </em>testDatasetScan/testgrid1.nc</li>
</ul>
<h3>Access:</h3>
<ol>
    <li> <b>OpenDAP: </b><a href="/thredds/dodsC/testAll/testgrid1.nc.html">/thredds/dodsC/testAll/testgrid1.nc.html</a></li>
    <li> <b>DAP4: </b><a href="/thredds/dap4/testAll/testgrid1.nc.dmr.xml">/thredds/dap4/testAll/testgrid1.nc.dmr.xml</a></li>
    <li> <b>HTTPServer: </b><a href="/thredds/fileServer/testAll/testgrid1.nc">/thredds/fileServer/testAll/testgrid1.nc</a></li>
    <li> <b>NetcdfSubset: </b><a href="/thredds/ncss/grid/testAll/testgrid1.nc/dataset.html">/thredds/ncss/grid/testAll/testgrid1.nc/dataset.html</a></li>
    <li> <b>NetcdfSubset: </b><a href="/thredds/ncss/point/testAll/testgrid1.nc/dataset.html">/thredds/ncss/point/testAll/testgrid1.nc/dataset.html</a></li>
</ol>
<h3>Dates:</h3>
<ul>
    <li>2018-06-01T19:38:51.921Z  <strong>(modified)</strong> </li>
</ul>
<h3>Viewers:</h3>
<ul>
    <li> <a href="/thredds/view/ToolsUI.jnlp?catalog=http://localhost:8081/thredds/catalog/testAll/catalog.xml&amp;dataset=testDatasetScan/testgrid1.nc">NetCDF-Java ToolsUI (webstart)</a></li>
    <li> <a href="/thredds/view/idv.jnlp?url=http://localhost:8081/thredds/dodsC/testAll/testgrid1.nc">Integrated Data Viewer (IDV) (webstart)</a></li>
</ul>

</body>

</html>
