<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!--/* Replace this "head" element with the one in commonFragments. Pass the "title" element below to the fragment. */-->
<head th:replace="templates/commonFragments :: head(~{::title}, ~{::script}, ~{::link})">
    <title>TDS Catalog</title>

    <link rel="stylesheet" th:href="${contextPath} + '/tds.css'" type="text/css">
    <link rel="stylesheet" th:if="${!#strings.isEmpty(standardCSS)}" th:href="${contextPath} + '/' + ${standardCSS}" type="text/css">
    <link rel="stylesheet" th:if="${!#strings.isEmpty(catalogCSS)}" th:href="${contextPath} + '/' + ${catalogCSS}" type="text/css">

    <!-- Google Analytics -->
    <script th:if="${googleTracking != null}" type="text/javascript" th:inline="javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', /*[[${googleTracking}]]*/, 'auto');
            ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
</head>

<body>

    <div class="container">

        <div th:replace="~{templates/commonFragments :: header-container}"/>

        <div class="content" th:if="${rootCatalog}">
            <div th:replace="~{ext:tdsTemplateFragments :: banner} ?: ~{templates/commonFragments :: banner}"/>
        </div>

        <div class="content" th:if="~{ext:tdsTemplateFragments :: catalogCustomContentTop}">
            <div th:replace="~{ext:tdsTemplateFragments :: catalogCustomContentTop}"></div>
        </div>

        <div class="content">
            <div class="section-header">Catalog</div>
            <div class="section-content">
            <table width="100%" cellspacing="0" cellpadding="5" align="center">
                <tbody>

                    <tr>
                        <th align="left"><font size="+1">Dataset</font></th>
                        <th align="center"><font size="+1">Size</font></th>
                        <th align="right"><font size="+1">Last Modified</font></th>
                    </tr>

                    <tr class="subset" th:each="subset , rowStat : ${items}" th:bgcolor="${rowStat.even} ? '#eeeeee' : '#ffffff'">
                        <td align="left">
                            <th:block th:each="i: ${#numbers.sequence(0, subset.getLevel())}">&nbsp;&nbsp;&nbsp;&nbsp;</th:block>
                            <img th:src="${subset.getIconSrc()}"
                                 th:if="${subset.getIconSrc() != null}" alt="Folder"> &nbsp;
                            <a th:href="${subset.getHref()}"
                               th:if="${subset.getHref() != null}"><code th:text="${subset.getDisplayName()}"></code></a>
                            <code th:if="${subset.getHref() == null}" th:text="${subset.getDisplayName()}"></code></td>
                        <td align="right">&nbsp;<code th:text="${subset.getDataSize()}"></code></td>
                        <td align="right"><code th:text="${subset.getLastModified() != null ? subset.getLastModified() : '&nbsp--'}">--</code></td>
                    </tr>

                </tbody>
            </table>
            </div>

        </div>

        <div class="content" th:if="~{ext:tdsTemplateFragments :: catalogCustomContentBottom}">
            <div th:replace="~{ext:tdsTemplateFragments :: catalogCustomContentBottom}"></div>
        </div>

        <div th:replace="~{templates/commonFragments :: footer-container}"/>

    </div>

</body>

<script th:replace="~{templates/commonFragments :: load-scripts}"></script>

</html>