<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!--/* The indentation of the fragments below matches the indentation of the elements that they will replace in the
       target templates. Do not normalize it, or else the generated HTML won't be pretty any more. */-->

<!--/* Replace this "head" element with the one in commonFragments.
       Pass on the "title" element we received from ncssPoint, along with the "script" element we define below. */-->
<head>
</head>

<body>
<tr class="catalog-item" th:fragment="item(subset, rowStat)" th:each="subset , rowStat : ${items}" th:bgcolor="${rowStat.even} ? '#eeeeee' : '#ffffff'">
    <td align="left">&nbsp;&nbsp;&nbsp;&nbsp;
        <img th:src="${subset.getIconSrc()}"
             th:if="${subset.getIconSrc() != null}" alt="Folder"> &nbsp;
        <a th:href="${subset.getHref()}"
           th:if="${subset.useHref()}"><code th:text="${subset.getDisplayName()}"></code></a>
        <code th:if="${!subset.useHref()}" th:text="${subset.getDisplayName()}"></code></td>
    <td align="right">&nbsp;<code th:text="${subset.getDataSize()}"></code></td>
    <td align="right"><code th:text="${subset.getLastModified() != null ? subset.getLastModified() : '--'}">--</code></td>
<tr class="catalog-item" th:each="nested , rowStat : ${subset.getCatalogItems()}" th:replace="templates/catalogFragments :: item(${nested}, ${rowStat})"></tr>
</tr>
</body>

</body>
</html>
