<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!--/* The indentation of the fragments below matches the indentation of the elements that they will replace in the
       target templates. Do not normalize it, or else the generated HTML won't be pretty any more. */-->

<head th:fragment="head(title, scripts, style)">
  <title th:replace="${title}">THREDDS Data Server</title>

  <!-- Common metadata and styles. -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

  <!-- if webcrawler finds this page (say, from sitemap.xml), tell it to not follow the links -->
  <meta name="robots" content="nofollow" />

  <!--/* This is a placeholder where our page-specific stylesheet  can be inserted. */-->
  <th:block th:replace="${style}" />

  <!--/* This is a placeholder where our "script" block containing inline Javascript will be inserted. */-->
  <th:block th:replace="${scripts}" />
</head>

<body>

    <div th:fragment="header-container">
      <div id="header-buffer"></div>
      <div id="header" th:insert="~{ext:tdsTemplateFragments :: header} ?: ~{templates/commonFragments :: header-content}">
      </div>
    </div>

    <div th:fragment="header-content">
      <div class="header-logo"><img th:src="${logoUrl}" th:alt="${logoAlt}"></div>
      <div class="header-info"><h2><strong><a class="static" th:href="${installUrl}" th:text="${installName}"></a></strong></h2></div>
    </div>

    <div th:fragment="footer-container">
      <div id="footer-buffer"></div>
      <div id="footer" th:insert="~{ext:tdsTemplateFragments :: footer} ?: ~{templates/commonFragments :: footer-content}"/>
    </div>

    <div th:fragment="footer-content">
      <h4><a class="static" th:href="${installUrl}" th:text="${installName}"></a> at <a class="static" th:href="${hostInstUrl}" th:text="${hostInst}"></a> see <a class="static" th:href="${contextPath} + '/info/serverInfo.html'"> Info </a></h4>
      <h4><a class="static" th:href="${webappUrl}" th:text="${webappName}"></a>
        <th:block th:text="' [Version ' + ${webappVersion} + ' - ' + ${webappBuildTimestamp} + ']'"/>
        <a class="static" th:href="${webappDocsUrl}"> Documentation</a></h4>
    </div>

    <div th:fragment="banner" class="banner">
        <h2>Welcome to
            <th:block th:text="${webappName}"/>
             top-level TDS Catalog.
        </h2>
        <h3>Hosted by
            <a class="static" th:href="${hostInstUrl}" th:text="${hostInst}"></a>.
        </h3>
    </div>

</body>

<script th:fragment="load-scripts" type="text/javascript">
  document.getElementById("header-buffer").style.height = document.getElementById("header").clientHeight + "px";
  document.getElementById("footer-buffer").style.height = document.getElementById("footer").clientHeight + "px";
</script>

</html>
