<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!--/* The indentation of the fragments below matches the indentation of the elements that they will replace in the
       target templates. Do not normalize it, or else the generated HTML won't be pretty any more. */-->

<!--/* Replace this "head" element with the one in commonFragments.
       Pass on the "title" element we received from ncssGrid, along with the "script" element we define below. */-->
<head th:fragment="head(title)" th:replace="templates/commonFragments :: head(~{::title}, ~{::script}, ~{::link})">

  <!-- if webcrawler finds this page (say, from sitemap.xml), tell it to not follow the links -->
  <meta name="robots" content="nofollow" />

  <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.0/normalize.css">
  <link rel="stylesheet" type="text/css" href="../../style/ncss/main.css" th:href="@{/style/ncss/main.css}">
  <link rel="stylesheet" type="text/css" href="../../style/ncss/layout.css" th:href="@{/style/ncss/layout.css}">
  <link rel="stylesheet" type="text/css" href="../../style/ncss/sidebar.css" th:href="@{/style/ncss/sidebar.css}">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.5/ol.css">

  <!-- "script" elements must have explicit closing tags. See https://stackoverflow.com/questions/69913 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.5/ol.js"></script>
  <!-- As of 2018-02-08, Safari and Edge do not natively support the "FormData.entries()" method, which we utilize in
       buildAccessUrl(). This provides a replacement implementation. See https://github.com/jimmywarting/FormData. -->
  <script src="https://cdn.rawgit.com/jimmywarting/FormData/3.0.9/FormData.js"></script>
  <script type="text/javascript" src="../../js/ncss/ncssApp.js" th:src="@{/js/ncss/ncssApp.js}"></script>
  <script type="text/javascript" th:inline="javascript">
      var horizExtentWKT = /*[[${horizExtentWKT}]]*/ 'POLYGON((-90 45, 90 45, 90 -45, -90 -45, -90 45))';

      var fullLatLonExt = {
          north: /*[[${#numbers.formatDecimal(gcd.latlonBoundingBox?.latMax, 0, 3)}]]*/ "45.0000",
          south: /*[[${#numbers.formatDecimal(gcd.latlonBoundingBox?.latMin, 0, 3)}]]*/ "-45.0000",
          west:  /*[[${#numbers.formatDecimal(gcd.latlonBoundingBox?.lonMin, 0, 3)}]]*/ "-90.0000",
          east:  /*[[${#numbers.formatDecimal(gcd.latlonBoundingBox?.lonMax, 0, 3)}]]*/ "90.0000"
      };

      var fullProjExt = {
          maxy: /*[[${#numbers.formatDecimal(gcd.projBoundingBox?.maxY, 0, 0)}]]*/ "75",
          miny: /*[[${#numbers.formatDecimal(gcd.projBoundingBox?.minY, 0, 0)}]]*/ "25",
          minx: /*[[${#numbers.formatDecimal(gcd.projBoundingBox?.minX, 0, 0)}]]*/ "0",
          maxx: /*[[${#numbers.formatDecimal(gcd.projBoundingBox?.maxX, 0, 0)}]]*/ "100"
      };

      var fullTimeExt = {
          time_start: /*[[${gcd.calendarDateRange?.start?.toString()}]]*/ "2006-09-25T06:00:00Z",
          time_end:   /*[[${gcd.calendarDateRange?.end?.toString()}]]*/   "2006-09-26T00:00:00Z",
          time:       /*[[${gcd.calendarDateRange?.end?.toString()}]]*/   "2006-09-26T00:00:00Z"
      };
  </script>
</head>

<body>
    <div class="main" th:fragment="main">
      <h3>Variables:</h3>

      <div class="coverageSet" th:each="coverageSet : ${gcd.coverageSets}">
        <button type="button" class="accordionButton" onclick="toggleAccordion(this)">
          With coordinate axes:
          <span class="bold" th:text="${coverageSet.coordSys.name}">Coordinate axes</span>
          <span class="accordionIcon">&#x25b2;</span>  <!-- Unicode up arrow. Modified by Javascript. -->
        </button>

        <ul>
          <div th:each="axis : ${coverageSet.coordSys.axes}">
            <li>
              <span class="bold" th:text="${axis.name}">Axis name</span>:
              <span th:text="${axis.summary}">Axis summary</span>
            </li>
          </div>
        </ul>

        <div class="coverage" th:each="coverage : ${coverageSet.coverages}">
          <input type="checkbox" th:id="${#ids.seq('coverage')}"
                 name="var" value="Coverage Name" th:value="${coverage.name}" />
          <label class="italic" th:for="${#ids.prev('coverage')}" th:text="${coverage.description}">
            Coverage Description
          </label>
        </div>
      </div>
    </div>

    <!--/********************************** Sidebar fragments **********************************/-->

      <div id="vertSubsetInput" th:fragment="vertSubsetInput">
        <div class="tabContainer">
          <button type="button" onclick="selectTab(singleLevel, this)" class="defaultButton">Single level</button>

          <button type="button" onclick="selectTab(strideLevels, this)">Vertical stride</button>
        </div>

        <div id="singleLevel" class="tabPane sidebarInput">
          <label for="vertCoord">Level:</label>
          <input type="text" name="vertCoord" id="vertCoord" size="10" />
        </div>

        <div id="strideLevels" class="tabPane sidebarInput">
          <label for="vertStride">Stride:</label>
          <input type="text" name="vertStride" id="vertStride" size="10" value="1" required />
        </div>
      </div>

    <!--/***************************************************************************************/-->
</body>

</body>
</html>
