<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!--/* Replace this "head" element with the one in gridFragments. Pass the "title" element below to the fragment. */-->
<head th:replace="templates/gridFragments :: head(~{::title})">
  <title>NetCDF Subset Service for Grids</title>
</head>

<body onload="init(horizExtentWKT)">
<form id="form" method="GET" action="datasetPath" th:attr="action=${datasetPath}">
  <div class="grid-container">
    <!--/* Replace "div .header" element with the one in ncssFragments. Pass the text of the "title" element
           (defined above) and the "h4" element to the fragment. Note that we can't simply pass "~{::h4}", as that
           will select every "h4" element in this entire document.
           See http://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#fragment-specification-syntax. */-->
    <div class="header" th:replace="templates/ncssFragments :: header(~{::title/text()}, ~{::div.header/h4})">
      <h4>(<a href="ncssGridAsPoint.html" th:href="@{pointDataset.html}">Switch to Grids As Points</a>)</h4>
    </div>

    <!--/* Use the no-operation token to cause the fragment to use its existing value for the dataset description elem.
           See http://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#using-the-no-operation-token. */-->
    <div class="dataset" th:replace="templates/ncssFragments :: dataset(_)" />

    <div class="main" th:replace="templates/gridFragments :: main" />

    <div class="sidebar">
      <h3>Horizontal extent:</h3>

      <div th:replace="templates/ncssFragments :: map" />

      <h3>Horizontal subset:</h3>

      <div id="horizSubsetInput">
        <div class="tabContainer">
          <button type="button" onclick="selectTab(latLonSubset, this)" class="defaultButton">Lat/lon box</button>

          <button type="button" onclick="selectTab(coordinateSubset, this)"
                  th:if="${gcd.horizCoordSys.isProjection()}">Proj X/Y box</button>
        </div>

        <div th:replace="templates/ncssFragments :: latLonSubset" />

        <div id="coordinateSubset" class="tabPane sidebarInput" th:if="${gcd.horizCoordSys.isProjection()}">
          <h5>Bounding box (in projection coords)</h5>

          <div class="boundingBoxGrid">
            <label class="topLabel" for="maxy">MaxY</label>
            <input class="topBox" type="text" name="maxy" id="maxy" required />

            <label class="leftLabel" for="minx">MinX</label>
            <input class="leftBox" type="text" name="minx" id="minx" required />

            <label class="rightLabel" for="maxx">MaxX</label>
            <input class="rightBox" type="text" name="maxx" id="maxx" required />

            <label class="bottomLabel" for="miny">MinY</label>
            <input class="bottomBox" type="text" name="miny" id="miny" required />
          </div>

          <div th:replace="templates/ncssFragments :: resetButtonContainer(fullProjExt)" />
        </div>
      </div>

      <div class="sidebarInput">
        <label for="horizStride">Horizontal stride:</label>
        <input type="text" name="horizStride" id="horizStride" size="10" value="1" required />
      </div>

      <h3>Time subset:</h3>

      <div th:replace="templates/ncssFragments :: timeSubsetInput" />

      <h3>Vertical subset:</h3>

      <div th:replace="templates/gridFragments :: vertSubsetInput" />

      <h3>Output format:</h3>

      <div th:replace="templates/ncssFragments :: outputFormatInput" />

      <h3>CF compliance:</h3>

      <div id="cfComplianceInput" class="sidebarInput">
        <input type="checkbox" name="addLatLon" id="addLatLon" value="true"/>
        <label for="addLatLon">Add 2D Lat/Lon to file</label>
      </div>
    </div>

    <div class="requestBuilder" th:replace="templates/ncssFragments :: requestBuilder" />

    <div class="buttons" th:replace="templates/ncssFragments :: buttons" />

    <div class="footer" th:replace="templates/ncssFragments :: footer" />
  </div>
</form>
</body>

</html>
