<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title>NCSS Grid Form</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="StyleSheet" type="text/css" href="/thredds/style/ncss/main.css"/>
  <link rel="StyleSheet" type="text/css" href="/thredds/style/ncss/layout.css"/>
  <link rel="StyleSheet" type="text/css" href="/thredds/style/ncss/form.css"/>
  <link rel="StyleSheet" type="text/css" href="/thredds/js/lib/OpenLayers-2.12/theme/default/style.css"/>
  <script type="text/javascript">
    var context = '/thredds';
    var gridWKT = 'POLYGON((0.0 -90.0,360.0 -90.0,360.0 90.0,0.0 90.0,0.0 -90.0))';
    var Ncss = {};

    Ncss.debug = true;

    Ncss.log = function (message) {
      if (Ncss.debug) {
        console.log(message);
      }
    };

    // Dynamic load of the javascript files
    (function () {
      //jQuery
      var headTag = document.getElementsByTagName("head")[0];
      var jQueryfile = document.createElement('script');
      jQueryfile.setAttribute("type", "text/javascript");
      jQueryfile.setAttribute("src", context + "/js/lib/jquery-1.7.2.min.js");
      headTag.appendChild(jQueryfile);

      //OpenLayers.js
      var olfile = document.createElement('script');
      olfile.setAttribute("type", "text/javascript");
      olfile.setAttribute("src", context + "/js/lib/OpenLayers-2.12/OpenLayers.js");
      headTag.appendChild(olfile);

      //ncssApp.js
      var ncssAppfile = document.createElement('script');
      ncssAppfile.setAttribute("type", "text/javascript");
      ncssAppfile.setAttribute("src", context + "/js/ncss/ncssApp.js");
      var headTag = document.getElementsByTagName("head")[0];
      headTag.appendChild(ncssAppfile);

      //gridDatasetForm.js
      var jsfile = document.createElement('script');
      jsfile.setAttribute("type", "text/javascript");
      jsfile.setAttribute("src", context + "/js/ncss/gridDatasetForm.js");
      var headTag = document.getElementsByTagName("head")[0];
      headTag.appendChild(jsfile);
    })();


  </script>

</head>

<body onload="Ncss.initGridDataset();">
<div id="header">
  <div id="dataset">
    <h1> NetCDF Subset Service for Grids</h1>
  </div>
  <div id="unidata">
    <div id="title">
      <div id="service">
        <span class="bold">THREDDS data server</span>
        <span class="service">NetCDF Subset Service</span>
      </div>
    </div>
    <div id="logo">
      <span></span>
    </div>
  </div>
</div>

<div id="container">
  <div id="dataheader">
    <h2>
      <span>Dataset:</span>
      <span id="datasetPath" class="black" th:text="${datasetPath}">datasetPath</span>
    </h2>
    <h4> <a href="pointDataset.html">(Click for Grid as Point form)</a></h4>

  </div>

  <form id="form" method="GET" action="datasetPath" th:attr="action=${datasetPath}">
    <table class="simple">
      <tr valign="top">
        <td class="leftCol">
          <div th:if="${gcd.runtimeCoordinateMax} != null">
            <span class="bold">Runtimes: </span>
            <span class="bold" th:text="${gcd.runtimeCoordinateMax.summary}">Runtime coords</span>
          </div>
          <h3>Select Variable(s):</h3>

          <div th:each="covSet : ${gcd.coverageSets}">
            <div th:if="${covSet.coordSys.timeAxis}">
              <em>Time: <span th:text="*{covSet.coordSys.timeAxis.summary}">time coords</span></em>
            </div>
            <div th:if="${covSet.coordSys.zAxis} != null">
              <em>Vert: <span th:text="*{covSet.coordSys.zAxis.summary}">Vert coords</span></em>
            </div>
            <blockquote>
              <div th:each="cov : ${covSet.coverages}">
                <input onchange="Ncss.buildAccessUrl()" type="checkbox" name="var" value="Coverage Name" th:value="${cov.name}"/>
                <span class="bold" th:text="${cov.description}">Coverage Description</span>
                <br/>
              </div>
            </blockquote>
          </div>
        </td>
        <td class="rightCol">
          <h3>Choose Spatial Subset:</h3>
          <div id="gridPreviewFrame">
            <div id="gridPreview"/>
          </div>
          <br clear="all"/>

          <div id="inputLatLonSubset" class="selected">
            <span class="bold">Lat/lon subset</span>
          </div>
          <div id="inputCoordSubset" class="unselected" th:if="${gcd.horizCoordSys.isProjection}">
            <span class="bold">Coordinate subset</span>
          </div>

          <div id="areaInput" class="clear">
            <div id="spatialSubset">
              <div id="latlonSubset" class="absoluteTopLeft borderLightGrey">
                <span class="bold">decimal degrees:</span>

                <div class="top">
                  <span>north</span>
                  <br/>
                  <input onchange="Ncss.buildAccessUrl()" type="text" name="north" size="8" value="90.0000" th:attr="value=${gcd.latLonBoundingBox.latMax}"/>
                  <input onchange="Ncss.buildAccessUrl()" type="hidden" disabled="disabled" name="dis_north" size="8" value="90.0000" th:attr="value=${gcd.latLonBoundingBox.latMax}"/>
                </div>
                <div>
                  west
                  <input onchange="Ncss.buildAccessUrl()" type="text" name="west" size="8" value="0.0000" th:attr="value=${gcd.latLonBoundingBox.lonMin}"/>
                  <input onchange="Ncss.buildAccessUrl()" type="hidden" disabled="disabled" name="dis_west" size="8" value="0.0000" th:attr="value=${gcd.latLonBoundingBox.lonMin}"/>
                  <input onchange="Ncss.buildAccessUrl()" type="text" name="east" size="8" value="360.000" th:attr="value=${gcd.latLonBoundingBox.lonMax}"/>
                  <input onchange="Ncss.buildAccessUrl()" type="hidden" disabled="disabled" name="dis_east" size="8" value="360.0000" th:attr="value=${gcd.latLonBoundingBox.lonMax}"/>
                  east
                </div>
                <div class="top">
                  <input onchange="Ncss.buildAccessUrl()" type="text" name="south" size="8" value="-90.0000" th:attr="value=${gcd.latLonBoundingBox.latMin}"/>
                  <input onchange="Ncss.buildAccessUrl()" type="hidden" disabled="disabled" name="dis_south" size="8" value="-90.0000" th:attr="value=${gcd.latLonBoundingBox.latMin}"/>
                  <br/>
                  <span>south</span>
                </div>
                <div>
                  <input onchange="Ncss.buildAccessUrl()" type="checkbox" name="disableLLSubset" id="disableLLSubset"/>
                  <span>Disable horizontal subsetting</span>
                </div>
                <span class="blueLink" id="resetLatLonbbox">reset to full extension</span>
              </div>

              <div id="coordinateSubset" class="hidden absoluteTopLeft borderLightGrey" th:if="${gcd.horizCoordSys.isProjection}">
                <span class="bold">projection coords:</span>

                <div class="top">
                  <span>maxy</span>
                  <br/>
                  <input onchange="Ncss.buildAccessUrl()" type="text" disabled="disabled" name="maxy" size="8" value="maxy" th:attr="value=${gcd.projBoundingBox.maxY}" />
                  <input onchange="Ncss.buildAccessUrl()" type="hidden" disabled="disabled" name="dis_maxy" size="8" value="maxy" th:attr="value=${gcd.projBoundingBox.maxY}"/>
                </div>
                <div>
                  minx
                  <input onchange="Ncss.buildAccessUrl()" type="text" disabled="disabled" name="minx" size="8" value="minx" th:attr="value=${gcd.projBoundingBox.minX}"/>
                  <input onchange="Ncss.buildAccessUrl()" type="hidden" disabled="disabled" name="dis_minx" size="8" value="minx" th:attr="value=${gcd.projBoundingBox.minX}"/>
                  <input onchange="Ncss.buildAccessUrl()" type="text" disabled="disabled" name="maxx" size="8" value="maxx" th:attr="value=${gcd.projBoundingBox.maxX}"/>
                  <input onchange="Ncss.buildAccessUrl()" type="hidden" disabled="disabled" name="dis_maxx" size="8" value="maxx" th:attr="value=${gcd.projBoundingBox.maxX}"/>
                  maxx
                </div>
                <div class="top">
                  <input onchange="Ncss.buildAccessUrl()" type="text" disabled="disabled" name="miny" size="8" value="miny" th:attr="value=${gcd.projBoundingBox.minY}"/>
                  <input onchange="Ncss.buildAccessUrl()" type="hidden" disabled="disabled" name="dis_miny" size="8" value="miny" th:attr="value=${gcd.projBoundingBox.minY}"/>
                  <br/>
                  <span>miny</span>
                </div>
                <div>
                  <input onchange="Ncss.buildAccessUrl()" type="checkbox" name="disableProjSubset" id="disableProjSubset"/>
                  <span>Disable horizontal subsetting</span>
                </div>
                <span class="blueLink" id="resetProjbbox">reset to full extension</span>
              </div>
            </div>
          </div>

          <br clear="all"/>
          <br clear="all"/>

          <div class="borderLightGrey">
            <span class="bold">Horizontal Stride:</span>
            <input onchange="Ncss.buildAccessUrl()" type="text" name="horizStride" size="5" value="1"/>
          </div>

          <h3>Choose Time Subset:</h3>
          <div id="inputTimeRange" class="selected">
            <span class="bold">Time range</span>
          </div>
          <div id="inputSingleTime" class="unselected">
            <span class="bold">Single time</span>
          </div>
          <div id="timeInput" class="clear">
            <div id="temporalSubsetWithStride">
              <div id="timeRangeSubset" class="absoluteTopLeft borderLightGrey">
                <label class="sized">Start:</label>
                <input onchange="Ncss.buildAccessUrl()" type="text" name="time_start" value="time_start" th:attr="value=${gcd.calendarDateRange.start}"/>
                <input onchange="Ncss.buildAccessUrl()" type="hidden" disabled="disabled" name="dis_time_start" value="time_start" th:attr="value=${gcd.calendarDateRange.start}"/>
                <br/>
                <label class="sized">End:</label>
                <input onchange="Ncss.buildAccessUrl()" type="text" name="time_end" value="time_start" th:attr="value=${gcd.calendarDateRange.end}"/>
                <input onchange="Ncss.buildAccessUrl()" type="hidden" disabled="disabled" name="dis_time_end" value="time_end" th:attr="value=${gcd.calendarDateRange.end}"/>
                <br/>
                <label class="sized">Stride:</label>
                <input onchange="Ncss.buildAccessUrl()" type="text" name="timeStride" size="5" value="1"/>
                <br/>
                <span class="blueLink" id="resetTimeRange">reset to full extension</span>
              </div>
              <div id="singleTimeSubset" class="hidden absoluteTopLeft borderLightGrey">
                <label class="sized">Time:</label>
                <input onchange="Ncss.buildAccessUrl()" type="text" name="time" size="21" disabled="disabled" value="time_end" th:attr="value=${gcd.calendarDateRange.end}"/>
              </div>
            </div>
          </div>

          <h3>Choose Vertical Level:</h3>
          <div id="inputSingleLevel" class="selected">
            <span class="bold">Single Level</span>
          </div>
          <!-- div id="inputVerticalStride" class="unselected">
            <span class="bold">Vertical Stride</span>
          </div -->
          <div id="verticalLevelInput" class="clear">
            <div id="verticalSubset">
              <div id="singleLevel" class="absoluteTopLeft borderLightGrey">
                <label class="sized">Level:</label>
                <input onchange="Ncss.buildAccessUrl()" type="text" name="vertCoord" size="10"/>
              </div>
              <!-- div id="strideLevels" class="absoluteTopLeft hidden borderLightGrey">
                <label class="sized">Stride:</label>
                <input onchange="Ncss.buildAccessUrl()" type="text" name="vertStride" disabled="disabled" value="1" size="10"/>
              </div -->
            </div>
          </div>

          <div id="addLatLon" class="borderLightGrey">
            <span class="bold">Add 2D Lat/Lon to file (if needed for CF compliance)</span>
            <br/>
            <input onchange="Ncss.buildAccessUrl()" type="checkbox" name="addLatLon" value="true" />
            <label>Add Lat/Lon variables</label>
            <br />
          </div>

          <h3>Choose Output Format:</h3>
          <div class="borderLightGrey">
            <label class="sized">Format:</label>
            <select onchange="Ncss.buildAccessUrl()" name="accept" size="1">
              <option value="netcdf">netcdf</option>
              <option value="netcdf4">netcdf4</option>
            </select>
          </div>

        </td>
      </tr>
      <tr>
        <td colspan="2" class="center">
          <h3>NCSS Request URL:</h3>
          <pre id="urlBuilder"/>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="center">
          <input class="button" type="submit" value="Submit"/>
          <input class="button" type="button" onclick="Ncss.resetForm()" value="Reset"/>
        </td>
      </tr>
    </table>
  </form>
</div>

<hr/>
<h3><a href="http://www.unidata.ucar.edu/software/thredds/current/tds/reference/NetcdfSubsetServiceReference.html">NetCDF Subset Service Documentation</a></h3>

</body>

</html>