<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title>NCSS Grid Form</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <!-- link rel="StyleSheet" type="text/css" href="/thredds/style/ncss/main.css"/>
  <link rel="StyleSheet" type="text/css" href="/thredds/style/ncss/layout.css"/>
  <link rel="StyleSheet" type="text/css" href="/thredds/style/ncss/form.css"/ -->
  <link rel="StyleSheet" type="text/css" href="/thredds/js/lib/OpenLayers-2.12/theme/default/style.css"/>
  <script type="text/javascript">
    var context = '/thredds';
    var gridWKT = 'POLYGON((0.0 -90.0,360.0 -90.0,360.0 90.0,0.0 90.0,0.0 -90.0))';
    var Ncss = {};

    Ncss.debug = true;

    Ncss.log = function (message) {
      if (Ncss.debug) {
        console.log(message);
      }
    };

    //Dynamic load of the javascript files
    (function () {
      //jQuery
      var headTag = document.getElementsByTagName("head")[0];
      var jQueryfile = document.createElement('script');
      jQueryfile.setAttribute("type", "text/javascript");
      jQueryfile.setAttribute("src",
          context + "/js/lib/jquery-1.7.2.min.js");
      headTag.appendChild(jQueryfile);

      //OpenLayers.js
      var olfile = document.createElement('script');
      olfile.setAttribute("type", "text/javascript");
      olfile.setAttribute("src",
          context + "/js/lib/OpenLayers-2.12/OpenLayers.js");
      headTag.appendChild(olfile);

      //ncssApp.js
      var ncssAppfile = document.createElement('script');
      ncssAppfile.setAttribute("type", "text/javascript");
      ncssAppfile.setAttribute("src", context + "/js/ncss/ncssApp.js");
      var headTag = document.getElementsByTagName("head")[0];
      headTag.appendChild(ncssAppfile);

      //form.js
      var jsfile = document.createElement('script');
      jsfile.setAttribute("type", "text/javascript");
      jsfile.setAttribute("src", context + "/js/ncss/gridDatasetForm.js");
      var headTag = document.getElementsByTagName("head")[0];
      headTag.appendChild(jsfile);
    })();
  </script>

</head>

<body onload="Ncss.initGridDataset();">

<h1>Dataset <span th:text="${name}">name</span></h1>

<form id="form" method="GET" action="/thredds/ncss/grib/NCEP/GEFS/Global_1p0deg_Ensemble/members-analysis/GEFS_Global_1p0deg_Ensemble_ana_20150719_1200.grib2">
  <h2>Select Variable(s):</h2>

  <div th:each="covSet : ${coverageSets}">
    <h3>With Coordinate System <span th:text="${covSet.coordSys.name}">coordSys name</span></h3>
    <blockquote>
      <div th:each="cov : ${covSet.coverages}">
        <input onchange="Ncss.buildAccessUrl()" type="checkbox" name="var" value="Geopotential_height_surface_ens"/>
        <span th:text="${cov.name}">Coverage Name</span>=
        <span th:text="${cov.description}">Coverage Description</span>
        <br/>
      </div>
    </blockquote>
  </div>

  <div class="borderLightGrey">
    <br/>
    <input onchange="Ncss.buildAccessUrl()" type="checkbox" name="addLatLon" value="true"/>
    <label>Add 2D Lat/Lon to file (if needed for CF compliance):</label>
    <br/>
  </div>
  <h3>Choose Output Format:</h3>
  <blockquote>
    <div class="borderLightGrey">
      <label class="sized">Format: </label>
      <select onchange="Ncss.buildAccessUrl()" name="accept" size="1">
        <option value="netcdf">netcdf</option>
        <option value="netcdf4">netcdf4</option>
      </select>
    </div>
  </blockquote>

  <table>
    <tr>
      <td colspan="2" class="center">
        <h3>NCSS Request URL:</h3>
        <pre id="urlBuilder"/>
      </td>
    </tr>
    <tr>
      <td colspan="2" class="center">
        <input class="button" type="submit" value="Submit"/>
        <input class="button" type="button" onclick="Ncss.resetForm()" value="Reset"/>
      </td>
    </tr>
  </table>

</form>


<hr/>
<h3>
  <a href="http://www.unidata.ucar.edu/software/thredds/current/tds/reference/NetcdfSubsetServiceReference.html">NetCDF Subset Service Documentation</a>
</h3>

</body>

</html>