<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!--/* Replace this "head" element with the one in pointFragments. Pass the "title" element below to the fragment. */-->
<head th:replace="templates/pointFragments :: head(~{::title})">
  <title>NetCDF Subset Service for Points</title>
</head>

<body onload="init(horizExtentWKT)">
<form id="form" method="GET" action="datasetPath" th:attr="action=${datasetPath}">
  <div class="grid-container">
    <!--/* Replace "div .header" element with the one in ncssFragments. Pass the text of the "title" element
           (defined above) to the fragment. Also pass the empty fragment ("~{}"), as this element doesn't have any "h4"
           children. See http://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#using-the-empty-fragment. */-->
    <div class="header" th:replace="templates/ncssFragments :: header(~{::title/text()}, ~{})" />

    <!--/* Use the no-operation token to cause the fragment to use its existing value for the dataset description elem.
           See http://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#using-the-no-operation-token. */-->
    <div class="dataset" th:replace="templates/ncssFragments :: dataset(_)" />

    <div class="main" th:replace="templates/pointFragments :: main" />

    <div class="sidebar">
      <h3>Horizontal extent:</h3>

      <div th:replace="templates/ncssFragments :: map" />

      <h3>Horizontal subset:</h3>

      <div id="horizSubsetInput">
        <div class="tabContainer">
          <button type="button" onclick="selectTab(latLonSubset, this)" class="defaultButton">Lat/lon box</button>
        </div>

        <div th:replace="templates/ncssFragments :: latLonSubset" />
      </div>

      <h3>Time subset:</h3>

      <div th:replace="templates/ncssFragments :: timeSubsetInput" />

      <h3>Output format:</h3>

      <div th:replace="templates/ncssFragments :: outputFormatInput" />
    </div>

    <div class="requestBuilder" th:replace="templates/ncssFragments :: requestBuilder" />

    <div class="buttons" th:replace="templates/ncssFragments :: buttons" />

    <div class="footer" th:replace="templates/ncssFragments :: footer" />
  </div>
</form>
</body>

</html>
