<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!--/* The indentation of the fragments below matches the indentation of the elements that they will replace in the
       target templates. Do not normalize it, or else the generated HTML won't be pretty any more. */-->

<!--/* Replace this "head" element with the one in commonFragments.
       Pass on the "title" element we received from ncssPoint, along with the "script" element we define below. */-->
<head th:fragment="head(title)" th:replace="templates/commonFragments :: head(~{::title},~{::script},~{::link})">

  <!-- if webcrawler finds this page (say, from sitemap.xml), tell it to not follow the links -->
  <meta name="robots" content="nofollow" />

  <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.0/normalize.css">
  <link rel="stylesheet" type="text/css" href="../../style/ncss/main.css" th:href="@{/style/ncss/main.css}">
  <link rel="stylesheet" type="text/css" href="../../style/ncss/layout.css" th:href="@{/style/ncss/layout.css}">
  <link rel="stylesheet" type="text/css" href="../../style/ncss/sidebar.css" th:href="@{/style/ncss/sidebar.css}">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.5/ol.css">

  <script type="text/javascript" th:inline="javascript">
      var horizExtentWKT = /*[[${horizExtentWKT}]]*/ 'POLYGON((-90 45, 90 45, 90 -45, -90 -45, -90 45))';

      var fullLatLonExt = {
          north: /*[[${#numbers.formatDecimal(boundingBox?.latMax, 0, 3)}]]*/ "45.0000",
          south: /*[[${#numbers.formatDecimal(boundingBox?.latMin, 0, 3)}]]*/ "-45.0000",
          west:  /*[[${#numbers.formatDecimal(boundingBox?.lonMin, 0, 3)}]]*/ "-90.0000",
          east:  /*[[${#numbers.formatDecimal(boundingBox?.lonMax, 0, 3)}]]*/ "90.0000"
      };

      var fullTimeExt = {
          time_start: /*[[${calendarDateRange?.start?.toString()}]]*/ "2006-09-25T06:00:00Z",
          time_end:   /*[[${calendarDateRange?.end?.toString()}]]*/   "2006-09-26T00:00:00Z",
          time:       /*[[${calendarDateRange?.end?.toString()}]]*/   "2006-09-26T00:00:00Z"
      };
  </script>
</head>

<body>
    <div class="main" th:fragment="main">
      <h3>Variables:</h3>

      <div th:each="variable : ${fdp.dataVariables}">
        <input type="checkbox" th:id="${#ids.seq('variable')}"
               name="var" value="None" th:value="${variable.shortName}" />
        <label th:for="${#ids.prev('variable')}">
          <!--/*
            The idea here is to write "<shortName>: <description>", with description italicized.
            However, description may not be available, in which case both it AND the colon are omitted.
          */-->
          <span th:text="${variable.shortName}">Name</span><!--/*
            This comment eliminates the space between span elements. See https://stackoverflow.com/questions/10207992.
     */--><span th:if="${variable.description}">:
            <span class="italic" th:text="${variable.description}">Description</span>
          </span>
        </label>
      </div>
    </div>
</body>

</body>
</html>
