<?xml version='1.0' encoding='UTF-8'?>
<!-- $Id: config.xml,v 1.1 2005/03/30 22:10:10 edavis Exp $ -->
<!--
  - The CatalogGen Servlet configuration file.
  -->
<preferences EXTERNAL_XML_VERSION='1.0'>
  <root type='user'>
    <map>
      <!-- An example CatlogGen Servlet task. -->
      <beanCollection key='config'
        class='thredds.cataloggen.servlet.CatGenTimerTask'>

        <bean name='example'
          delayInMinutes='1' periodInMinutes='0'
          configDocName='catGenConf.exampleLocal.xml'
          resultFileName='catalog.exampleLocal.xml'/>

        <bean name='exampleDods'
          delayInMinutes='1' periodInMinutes='0'
          configDocName='examples/catGenConf.exampleDods.xml'
          resultFileName='catalog.exampleDods.xml'/>

      </beanCollection>
    </map>
  </root>
</preferences>
