<?xml version='1.0' encoding='UTF-8'?>
<preferences EXTERNAL_XML_VERSION='1.0'>
  <root type='user'>
    <map>
      <beanCollection key='config' class='thredds.cataloggen.servlet.CatGenTimerTask'>
        <bean name='ModelsInvCat1.0-IDV'
              configDocName='catGenConfig.ModelsInvCat1.0-IDV.xml'
              resultFileName='idv-rt-models.InvCat1.0.xml'
              delayInMinutes='1' periodInMinutes='60'/>
        <bean name='ModelsInvCat0.6-IDV'
              configDocName='catGenConfig.ModelsInvCat0.6-IDV.xml'
              resultFileName='idv-rt-models.xml'
              delayInMinutes='2' periodInMinutes='60'/>
        <bean name='ModelsInvCat1.0en'
              configDocName='catGenConfig.ModelsInvCat1.0en.xml'
              resultFileName='uniModelsInvCat1.0en.xml'
              delayInMinutes='3' periodInMinutes='60'/>
      </beanCollection>
    </map>
  </root>
</preferences>
