<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <display-name>D4TS DAP4 Test Server</display-name>

  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>/WEB-INF/log4j.xml</param-value>
  </context-param>
  <context-param>
    <param-name>ContextPath</param-name>
    <param-value>/d4ts</param-value>
  </context-param>

  <servlet>
    <servlet-name>d4ts</servlet-name>
    <servlet-class>dap4.d4ts.D4TSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>d4ts</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

</web-app>
