<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <display-name>DTS OPeNDAP Test Server</display-name>

  <context-param>
    <param-name>ContextPath</param-name>
    <param-value>/dts</param-value>
  </context-param>
  <!-- Turn on some more targeted debugging. -->
  <context-param>
    <param-name>DebugOn</param-name>
    <param-value> </param-value>
  </context-param>

  <servlet>
    <servlet-name>dts</servlet-name>
    <servlet-class>opendap.test.dts.DTSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>

    <!-- The following directory paths should be
         relative to dts path (e.g $CATALINA_HOME/webapps/dts) -->
    <!-- Ignore for now
    <init-param>
      <param-name>INFOcache</param-name>
      <param-value>WEB-INF/resources/testdatasets/info</param-value>
    </init-param>
    <init-param>
      <param-name>DDScache</param-name>
      <param-value>WEB-INF/resources/testdatasets/dds</param-value>
    </init-param>
    <init-param>
      <param-name>DAScache</param-name>
      <param-value>WEB-INF/resources/testdatasets/das</param-value>
    </init-param>
    <init-param>
      <param-name>DDXcache</param-name>
      <param-value>WEB-INF/resources/testdatasets/ddx</param-value>
    </init-param>
    -->
  </servlet>

  <servlet-mapping>
    <servlet-name>dts</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

</web-app>
