:root {
    --main-background-color: #f0f0f0;
    --main-border-color: #cccccc;
}


body {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 10pt;
    margin: 0;
}

form {
    margin: 0;
}


h1 {
    color: #2A5877;
    font-weight: normal;
    font-size: 18pt;
    margin: 0;
}

h2 {
    color: #888888;
    font-weight: normal;
    font-size: 16pt;
    margin: 0;
}

h3 {
    color: #888888;
    font-weight: normal;
    font-size: 14pt;
    margin: 4px 0;
}

h4 {
    font-weight: normal;
    font-size: 12pt;
    margin: 0;
}

h5 {
    font-weight: normal;
    font-variant: small-caps;
    font-size: 11pt;
    margin: 0 0 4px 0;
    text-align: center;
}


a:link {
    color: #006996;
}

a:hover {
    color: black;
}


ul {
    margin: 0;
    padding: 4px 0 0 2em;
}


.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.black {
    color: black;
}

.service {
    font-weight: bold;
    color: #006996;
}


button {
    background-color: #cccccc;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    outline: none;
    padding: 6px;

    transition: 0.3s;  /* Determines the speed of the "hover" effect. */
    border: 1px solid transparent;  /* This border will be made opaque in "button:active". */
}

button:hover, button.active:hover {
    background-color: #dddddd;
}

button:active {
    background-color: var(--main-background-color);
    border-color: black;
}

button.active {
    background-color: var(--main-background-color);
    border: 1px solid var(--main-border-color);
}


textarea {
    width: 100%;
    box-sizing : border-box;
    resize: vertical;
}


pre {
    white-space: pre-wrap;  /* Causes long text strings to wrap. */
    font-size: 9pt;
    padding: 10px;
    margin: 0;
    background-color: var(--main-background-color);
    border: 1px solid var(--main-border-color);
}
