/* Contains the common portal styling and security */
/* marking styles for application content.         */
body { 
  color:#333333;
  background-color:#FFFFF6;
  font-size:0.75em;
  font-family:Arial,Helvetica,sans-serif;
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
}
table { 
  border-color:#333333; 
  border-collapse:collapse;
  empty-cells:show;
  font-size:1em;
  font-weight:inherit;
  font-style:inherit;
  font-variant:inherit;
}
caption {
  color:#333333;
  font-weight:bold;
}
td {
  border-color:#333333; 
}
th, thead, tfoot {
  color:#404040;
  background-color:#D1D9BD;
  border-bottom:1px solid #404040;
  font-weight:bold;
}  
th a:link {
  color:#0033BB; 
  background-color:inherit;
  text-decoration:underline;
  font-weight:bold; 
}
th a:visited {
  color:#551A8B; 
  background-color:inherit; 
  text-decoration:underline;
  font-weight:bold; 
}
th a:hover {
  font-weight:bold; 
  text-decoration:underline; 
}
a:link  {
  color:#0033BB; 
  background-color:inherit;
  text-decoration:underline; 
  font-family:Verdana,Arial,Helvetica,sans-serif; 
}
a:visited {
  color:#551A8B; 
  background-color:inherit;
  text-decoration:underline;
  font-family:Verdana,Arial,Helvetica,sans-serif; 
}
a:hover	{
  text-decoration:underline; 
  font-family:Verdana,Arial,Helvetica,sans-serif;  
}
a.offsite:link {
  color:#0033BB; 
  background-color:inherit;
  text-decoration:underline;
}
a.offsite:visited {
  color:#551A8B; 
  background-color:inherit;
  text-decoration:underline;
}
a.offsite:hover	{
  border-bottom:1px dashed;
  text-decoration:none; 
}
h1 {
  display:block;
  font-size:2.2em; 
  font-weight:bold;
  margin:.67em 0;
}
h2 {
  display:block;
  font-size:1.75em;
  font-weight:bold;
  margin:.83em 0;
}
h3 {
  display:block;
  font-size:1.5em;
  font-weight:bold;
  margin:1em 0;
}
h4 {
  display:block;
  font-size:1.2em;
  font-weight:bold;
  margin:1.33em 0;
}
h5 {
  display:block;
  font-size:0.95em;
  font-weight:bold;
  margin:1.67em 0;
}
h6 {
  display:block;
  font-size:0.8em;
  font-weight:bold;
  margin:2.33em 0;
}
ol li {
  list-style-type:decimal; 
}
ol ol li {
  list-style-type:lower-alpha; 
}
ol ol ol li {
  list-style-type:lower-roman; 
}
li {
  color:#333333;
  background-color:inherit;
  margin:1px;
  padding:0px; 
}
ul {
  color:#333333;
  background-color:inherit;
  list-style-type:disc;
  margin:0px 0px 0px 17px;
  padding:0;
}
ol ul li {
  color:#333333;
  background-color:inherit;
  list-style-type:disc;
  margin:0px 0px 0px 17px;
  padding:0;
}
pre {
  font-size:1.2em;
}
input {
  font-size:0.9em;font-family:Arial,Helvetica,sans-serif;
}
select {
  border-color:#404040;
  border-style:solid;
  border-width:1px;
  font-size:0.9em; 
  font-family:Verdana,Geneva,Arial,Helvetica,sans-serif; 
}
textarea {
  font-size:0.9em; 
  font-family:Verdana,Geneva,Arial,Helvetica,sans-serif; 
}
hr {
  color:#D1D9BD; 
  background-color:inherit;
  height:1px;
}
