/* contains the marking styles for the 
Product Name Standard Document. */

/* the following generic classes are used with the status flags. */
/* FNMOC Product Name status. */
.available {
  color: #999900;
  font-weight: bold;
}
.current {
  color: #009900;
  font-weight: bold;
}
.deprecated {
  color: red;
  font-weight: bold;
}
.listed {
  color: black;
  font-weight: bold;
}
.obsolete {
  color: #990000;
  font-weight: bold;
}
.pending {
  color: #663300;
  font-weight: bold;
}
.planned {
  color: #FF6633;
  font-weight: bold;
}
.retired {
  color: #666666;
  font-weight: bold;
}
.test {
  color: #AAAAAA;
  font-weight: bold;
}

/* WMO GRIB2 status. */
/*     -> depre = deprecated
                  it is currently being used. 
                  However, it is being replaced with deprecatedWMO. */
.depre {              
  color: #CC66FF;
  font-weight: bold;
}
.deprecatedWMO {
  color: #CC66FF;
  font-weight: bold;
}
.experimental {
  color: #6600FF;
  font-weight: bold;
}
.obsoleteWMO {
  color: #990000;
  font-weight: bold;
}
.operational {
  color: #660066;
  font-weight: bold;
}
.preliminary {
  color: #9966CC;
  font-weight: bold;
}
.preoperational {
  color: #663399;
  font-weight: bold;
}
.validation {
  color: #9933FF;
  font-weight: bold;
}

/* used in the Example Descriptions
   margin is top right bottom left*/
/* using the left-margin did not work */
div.out {
  margin: 0px 0px 0px 10px;
} 

/* used in the Example Descriptions
   margin is top right bottom left*/
div.in {
  margin: 0px 0px 0px 20px;
} 

/* classification symbol in templates and tables */
font.c {
  color: red;
}

/* used when have a non-black font and need black characters */
font.black {
  color: black;
  font-weight: normal;
}
/* used when have a non-blue font and need blue characters */
font.boldblue {
  color: blue;
  font-weight: bold;
}
/* example explanations */
font.def {
  font-weight: bold;
  font-style: italic;
}

/* product keys in template */
font.keys {
  font-style: italic;
}

/* left most column of a layout table */
font.left {
  font-weight: bold;
}

/* text with underline */
font.line {
  text-decoration: underline;
  font-weight: bold;
}

/* symbol column in product key template table 
   - colors come from the web standard.css */
font.symbol {
  color: #3D4A74;
  background-color: #DEE8EB;
  font-style: italic;
  font-weight: bold;
}

/* template name */
font.temp {
  font-size: large;
  font-variant: small-caps;
}

h1 {
  display:block;
  font-size:2.2em;
  font-weight:bold;
  margin:.67em 0;
  text-align: center;
}

hr.short{
  width: 50%;
}

/* use for the images in a template */
p.center {
  text-align: center;
}

/* use for the first parameter in a layout */
p.one {
  text-align: center;
}

/* use for the layout template */
p.template {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}

/* use for the layout table */
table.layout {
  width: 80%;
)

