   1. Configure Tomcat to enable cgi:
         1. edit config/web.xml, enable cgi servlet by umcommenting it.
         2. rename server/lib/servlets-cgi.renametojar to servlets-cgi.jar
   2. Edit config/tomcat-users.xml, add roles "admin", "manager",
      "config", and whaatever users you want to play those roles.
      Minimal example:

<?xml version="1.0" encoding="utf-8"?>
<tomcat-users>
  <role rolename="config"/>
  <role rolename="manager"/>
  <role rolename="admin"/>
  <user username="admin" password="xxxxxx" roles="admin,manager,config"/>
</tomcat-users>



