<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default. -->
        <encoder>
            <!-- See https://logback.qos.ch/manual/layouts.html#ClassicPatternLayout -->
            <pattern>%highlight([%d{HH:mm:ss.SSS} %-5level %logger{36}]) %message%n</pattern>
        </encoder>
    </appender>
    
    <!-- Log all messages at level WARN or higher to STDOUT. -->
    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
