<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">


   <appender name="wmotablesLogger" class="org.apache.log4j.DailyRollingFileAppender">
      <param name="File" value="${catalina.home}/logs/wmotables.log"/>
      <param name="Threshold" value="INFO" />
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="[%d{yyyy-MM-dd' 'HH:mm:ss Z}] %-5p [%c:%L] - %m%n"/>
      </layout>
   </appender>


   <logger name="edu.ucar.unidata.wmotables">
        <appender-ref ref="wmotablesLogger"/>
   </logger> 

  <root>
    <level value="WARN"/>
    <appender-ref ref="wmotablesLogger"/>
  </root>

  
</log4j:configuration>
