<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

  <bean id="tdsContext" class="thredds.server.config.TdsContext">
    <property name="majorVersion" value="${tds.major.version}"/>
    <property name="minorVersion" value="${tds.minor.version}"/>
    <property name="bugfixVersion" value="${tds.bugfix.version}"/>
    <property name="buildVersion" value="${tds.build.version}"/>

    <property name="contentPath" value="${tds.content.path}"/>
    <property name="startupContentPath" value="${tds.content.startup.path}"/>
    <property name="iddContentPath" value="${tds.content.idd.path}"/>
    <property name="motherlodeContentPath" value="${tds.content.motherlode.path}"/>

    <property name="tdsConfigFileName" value="${tds.config.file}"/>
    <property name="tdsConfigHtml" ref="tdsConfigHtml"/>
  </bean>

  <bean id="tdsDRH" class="thredds.servlet.DataRootHandler">
    <constructor-arg ref="tdsContext" />
    <property name="dataRootLocationAliasExpanders">
      <list>
        <ref bean="contentPathAlias" />
        <ref bean="iddMacroPathAlias" />  
      </list>
    </property>
  </bean>
  <bean id="contentPathAlias" class="thredds.util.TdsConfiguredPathAliasReplacement">
    <constructor-arg value="content" />
  </bean>
  <bean id="iddMacroPathAlias" class="thredds.util.TdsConfiguredPathAliasReplacement">
    <constructor-arg value="iddDataRoot" />
  </bean>
  
  <!--
  <bean id="tdsCatConfig" class="thredds.server.config.TdsCatConfig">
    <constructor-arg ref="tdsContext"/>
  </bean>
  -->

  <bean id="tdsConfigHtml" class="thredds.server.config.TdsConfigHtml">
    <property name="pageCssPath" value="${tds.html.css}"/>
    <property name="catalogCssPath" value="${tds.html.css.catalog}"/>
    <property name="webappDocsPath" value="${tds.html.webapp.docs.path}"/>
    <property name="webappLogoPath" value="${tds.html.webapp.logo.path}"/>
    <property name="webappLogoAlt" value="${tds.html.webapp.logo.alt}"/>
    <property name="siteLogoPath" value="${tds.html.site.logo.path}"/>
    <property name="siteLogoAlt" value="${tds.html.site.logo.alt}"/>
    <property name="folderIconPath" value="${tds.html.folder.icon.path}"/>
    <property name="folderIconAlt" value="${tds.html.folder.icon.alt}"/>
    <property name="datasetIconPath" value="${tds.html.dataset.icon.path}"/>
    <property name="datasetIconAlt" value="${tds.html.dataset.icon.alt}"/>
  </bean>

  <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="locations">
      <list>
        <value>classpath:thredds/server/tds.properties</value>
        <value>classpath:thredds/server/tds.html.properties</value>
      </list>
    </property>
  </bean>

</beans>