<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

  <!--
    Example:
    2005-04-18T11:33:43 -0600 [    359843 -        395] DEBUG - thredds.util.TdsPathUtils - extractPath():
  -->
  <!-- appender name="threddsServlet" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="${tds.log.dir}/threddsServlet.log"/>
    <param name="MaxFileSize" value="10MB"/>
    <param name="MaxBackupIndex" value="10"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} [%10r][%8X{ID}] %-5p - %c - %m%n"/>
      // <param name="ConversionPattern" value="%d{ISO8601} [%10r - %10X{ID}] %-5p - %c - %m%n"/
    </layout>
  </appender -->

  <appender name="threddsServlet" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="${tds.log.dir}/threddsServlet.log"/>
    <param name="DatePattern" value=".yyyy-MM-dd-HH"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd'T'HH:mm:ss.SSS Z} [%10r][%8X{ID}] %-5p - %c - %m%n"/>
      <!--param name="ConversionPattern" value="%d{ISO8601} [%10r - %10X{ID}] %-5p - %c - %m%n"/-->
    </layout>
  </appender>

  <!-- keep track of Cache messages in a seperate file. -->
  <appender name="cacheLog" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="${tds.log.dir}/cache.log"/>
    <param name="MaxFileSize" value="100KB"/>
    <param name="MaxBackupIndex" value="2"/>
    <param name="Append" value="false"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ}] %m%n"/>
    </layout>
  </appender>

  <!-- keep track of feature collection scanning messages in a seperate file. -->
  <appender name="fcScan" class="org.apache.log4j.FileAppender">
    <param name="File" value="${tds.log.dir}/featureCollectionScan.log"/>
    <!-- param name="MaxFileSize" value="10MB"/>
    <param name="MaxBackupIndex" value="10"/ -->
    <param name="Append" value="false"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ}] %-5p %c: %m%n"/>
    </layout>
  </appender>

  <!-- serverStartup.log is recreated each time Tomcat is started -->
  <appender name="serverStartupAppender" class="org.apache.log4j.FileAppender">
    <param name="File" value="${tds.log.dir}/serverStartup.log"/>
    <param name="Append" value="false"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} [%10r][%8X{ID}] %c: %m%n"/>
      <!--param name="ConversionPattern" value="%d{ISO8601} [%10r - %10X{ID}] %-5p - %c - %m%n"/-->
    </layout>
  </appender>

  <!-- catalogInit.log is recreated each time Tomcat is started -->
  <appender name="catalogInit" class="org.apache.log4j.FileAppender">
    <param name="File" value="${tds.log.dir}/catalogInit.log"/>
    <param name="Append" value="false"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%m%n"/>
    </layout>
  </appender>

  <!-- cataloggen.log is recreated each time Tomcat is started -->
  <appender name="catalogGen" class="org.apache.log4j.FileAppender">
    <param name="File" value="${tds.log.dir}/cataloggen.log"/>
    <param name="Append" value="false"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} [%10r][%8X{ID}] %-5p - %c - %m%n"/>
    </layout>
  </appender>

  <!-- special log for grib processing -->
  <appender name="modelLog" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="${tds.log.dir}/models.log"/>
    <param name="MaxFileSize" value="5MB"/>
    <param name="MaxBackupIndex" value="5"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} [%10r][%8X{ID}] %-5p - %c - %m%n"/>
    </layout>
  </appender>

  <!-- special loggers -->
  <logger name="cacheLogger" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="cacheLog"/>
  </logger>

  <logger name="thredds.filesystem.CacheManager" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="cacheLog"/>
  </logger>

  <logger name="thredds.server.cataloggen" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="catalogGen"/>
  </logger>

  <logger name="thredds.cataloggen.config" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="catalogGen"/>
  </logger>

  <logger name="thredds.servlet.DataRootHandler.catalogInit" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="catalogInit"/>
  </logger>

  <logger name="serverStartup" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="serverStartupAppender"/>
  </logger>

  <!-- grib debugging -->
  <logger name="ucar.nc2.iosp.grid" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="modelLog"/>
  </logger>

  <logger name="ucar.nc2.iosp.grib" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="modelLog"/>
  </logger>

  <logger name="ucar.grib" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="modelLog"/>
  </logger>

  <logger name="ucar.grid" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="modelLog"/>
  </logger>
  <!-- end grib debugging -->

  <!-- fmrc debugging -->

  <logger name="thredds.inventory.DatasetCollectionManager" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="fcScan"/>
  </logger>

  <logger name="thredds.inventory.CollectionUpdater" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="fcScan"/>
  </logger>

  <logger name="thredds.inventory.bdb.MetadataManager" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="fcScan"/>
  </logger>

  <logger name="ucar.nc2.ft.fmrc.Fmrc" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="fcScan"/>
  </logger>

  <logger name="ucar.nc2.ft.fmrc.FmrcInv" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="fcScan"/>
  </logger>

  <logger name="ucar.nc2.ft.fmrc.FmrcInvLite" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="fcScan"/>
  </logger>

  <logger name="ucar.nc2.ft.fmrc.FmrcDataset" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="fcScan"/>
  </logger>

  <logger name="ucar.nc2.ft.fmrc.GridDatasetInv" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="fcScan"/>
  </logger>

  <logger name="thredds.servlet.DataRootHandler.fcScan" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="fcScan"/>
  </logger>

  <!-- end fmrc debugging -->

  <!-- All normal logging messages go to threddsServlet.log -->
  <logger name="opendap" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="threddsServlet"/>
  </logger>

  <logger name="thredds" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="threddsServlet"/>
  </logger>

  <!-- WMS stuff has routine higher level of messages -->
  <logger name="uk.ac.rdg.resc.ncwms" additivity="false">
    <level value="WARN"/>
    <appender-ref ref="threddsServlet"/>
  </logger>

  <logger name="thredds.server.wms.responses" additivity="false">
    <level value="WARN"/>
    <appender-ref ref="threddsServlet"/>
  </logger>

  <logger name="thredds.server.wms" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="threddsServlet"/>
  </logger>

  <logger name="org.springframework" additivity="false">
    <level value="WARN"/>
    <appender-ref ref="threddsServlet"/>
  </logger>

  <logger name="thredds.server.metadata" additivity="false">
    <level value="WARN"/>
    <appender-ref ref="threddsServlet"/>
  </logger>

  <!-- Initialize a few loggers to make the servlet debug web interface more convenient. -->
  <logger name="thredds.catalog"/>
  <logger name="thredds.dqc"/>
  <logger name="thredds.servlet"/>


  <!-- debug
  <logger name="ucar.nc2.ncml.Aggregation" additivity="false">
    <level value="DEBUG"/>
    <appender-ref ref="threddsServlet"/>
  </logger>

  <logger name="thredds.inventory.DatasetCollectionManager" additivity="false">
    <level value="DEBUG"/>
    <appender-ref ref="threddsServlet"/>
  </logger>   -->

  <root>
    <level value="WARN"/>
    <appender-ref ref="threddsServlet"/>
  </root>
  
</log4j:configuration>
