<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

  <servlet>
    <servlet-name>BufrValidate</servlet-name>
    <servlet-class>thredds.bufrtables.BtServlet</servlet-class>

    <init-param>
      <param-name>CacheDir</param-name>
      <param-value>C:/temp/bt2/</param-value>
    </init-param>

    <init-param>
      <param-name>CacheScourSecs</param-name>
      <param-value>3600</param-value>
    </init-param>

    <init-param>
      <param-name>CacheMaxAgeSecs</param-name>
      <param-value>3600</param-value>
    </init-param>

  </servlet>

  <servlet-mapping>
    <servlet-name>BufrValidate</servlet-name>
    <url-pattern>/bufr/*</url-pattern>
  </servlet-mapping>

</web-app>
