
body {
      background-color: #FFFFFF;
      margin: 5;
      font-size: 12pt;
      font-family: SansSerif, Arial, Helvetica, sans-serif}       




body.popup {
	background-color: #ffffcc;
}

.embeddedpopup {
	background-color: #ffffcc;
        border:1px solid #333;	
}



.cimg {
    text-align:center;
    margin-top: 20;
    margin-bottom: 40;
}

.caption {
    text-align:center;
    font-style:italic;
}



.note {
    font-style:italic;
    text-decoration:italic;
    margin-top: 20;
    margin-bottom: 20;
    border:1px solid #333;	
}


A.faq-category-link {
    text-decoration: none;
    color: #8080C0;
}

A.faq-category-link:hover {
    text-decoration: underline;
}

A.faq-question-link {
    text-decoration: none;
    color: black;
}

A.faq-question-link:hover {
    text-decoration: underline;
}

.faq-category-title {
    margin-top:10px;
    color: #8080C0;
    font-size: 16pt;
    font-weight: bold;
}


.faq-bottom {
        margin-top:20px;
}

.faq-bottom .faq-question {
   font-weight:bold;
   margin-top:5px;
}

.faq-category {
        margin-left:20px;
}







li {
       margin-right: 5;
       border: thin;
       border-color: white;
}

ol li {    
        margin-top: 20;
        }

ul li {    
        margin-left:0;
        margin-top: 8;
        }




div.framenav {
     font-size: 8pt;
}

.framelink {
         font-size: 8pt;
}



/*Since applying styles to span tags does not seem to work we use <code class="command">*/

code.param {
    font-style:italic;
    font-size: 12pt;
    font-family: SansSerif, Arial, Helvetica, sans-serif;       
}

code.display {
    font-style:italic;
    font-size: 12pt;
    font-family: SansSerif, Arial, Helvetica, sans-serif;       
}


code.command {
         font-size: 12pt;
         font-family: SansSerif, Arial, Helvetica, sans-serif;       
         font-weight: bold;
}

code.button {
         font-size: 12pt;
         font-family: SansSerif, Arial, Helvetica, sans-serif;       
         font-weight: bold;
}

code.menu {
         font-size: 12pt;
         font-family: SansSerif, Arial, Helvetica, sans-serif;       
         font-weight: bold;
}

code.dialog {
         font-size: 12pt;
         font-family: SansSerif, Arial, Helvetica, sans-serif;       
         font-style: italic;
         font-weight: bold;
}

code.filename {
         font-size: 12pt;
         font-family: Monospaced, "Courier New", Courier, mono;
         font-style: italic;
}

code.dataset {
         font-size: 12pt;
         font-family: Monospaced, "Courier New", Courier, mono;
}

code.datasource {
         font-size: 12pt;
         font-family: Monospaced, "Courier New", Courier, mono;
}

code.link {
         font-size: 12pt;
         font-family: SansSerif, Arial, Helvetica, sans-serif;       
         text-decoration: underline;
}


.breadcrumb {
      text-decoration: none;
      font-weight: bold;
      font-size: 10pt;
      font-family: SansSerif, Arial, Helvetica, sans-serif}       



.pagetitle {
    font-size: 18pt;
    font-weight: bold;
    color: #8080C0;
    margin-top: 15;
    margin-bottom: 5;
}

.pagesubtitle {
    font-size: 14pt;
    font-weight: bold;
    color: #8080C0;
    margin-top: 10;
    margin-bottom: 5;
}

.childlist-level {
    font-weigt:bold;
    font-size: 14pt;
    color: #8080C0;
    margin-top: 10;
    margin-bottom: 5;
}

.childlist {
    margin: 10;
    margin-left: 30;
}



.pagesubsubtitle {
    font-size: 12pt;
    font-weight: bold;
    color: #8080C0;
    margin-top: 5;
    margin-bottom: 5;
}



p   {
     margin-top: 10;
     margin-bottom: 0;
}

p.code {
        font-family: Monospaced;
	margin-left: 22;
       }


p.indent1  {margin-left: 3}

p.indent2  {margin-left: 12}

p.indent3  {margin-left: 32}

p.note {margin-top: -19;
	margin-left: 22}

p.table {
     margin-top:0;
     margin-bottom: 0}

blockquote.menu {margin-left: 18;
		margin-top: 10}

center {margin-top: 10}



table {border: none;
       border-color: white;
       margin-top: 5;
       margin-bottom: 5}

td {
    font-size: 12pt;
    font-family: SansSerif, Arial, Helvetica, sans-serif;
    padding-left: 1;
    padding-right: 1;
    padding-top: 1;
    padding-bottom: 1} 


th {padding-left: 1;
    padding-right: 1;
    padding-top: 1;
    padding-bottom: 1}


small {font-size: x-small}

dl.see_also {margin-left: 0;
    margin-top: 10;
    margin-bottom: 10}


.idv {text-decoration: none;background-color: #ffffcc;}

a.idv {text-decoration: none }

a.nounderline {text-decoration: none }

pre {  
        font-family: Monospaced, "Courier New", Courier, mono; 
       }

code {  
        font-family: Monospaced, "Courier New", Courier, mono; 
}
