
/* body#threddsDocs div#wrap div#container div#content { */

/* section formatting */

body#threddsDocs div#content div.sect1 {
    border: 3px solid #CFCFCF;
    padding: 30px 30px 10px 30px;
    margin: 20px 0px 60px 0px;
}

body#threddsDocs div#content div.sect1 h2 {
    text-decoration: none;
    border: none;
    background-color: #FFFFFF;
    padding: 0px 10px 0px 10px;
    margin: -43px 0px 0px 0px;
    float: left;
}

/* CodeRay override */

body#threddsDocs div#content  pre.CodeRay .comment {
   color: #4E4E46;
}

body#threddsDocs div#content pre.CodeRay {
    background-color: #E3E4E6;
}

/* table formatting */

body#threddsDocs table.tableblock {
	border-collapse: collapse;
	border: 1px black solid;
}

body#threddsDocs th,td {
	border-collapse: collapse;
	border: 1px black solid;
}

body#threddsDocs tr:hover {
	background-color: #d8d8d8
}

/* callouts */

body#threddsDocs div#content .conum[data-value] {
    display:inline-block;
    color:#fff!important;
    background-color:rgba(0,0,0,.8);
    -webkit-border-radius:100px;
    border-radius:100px;
    text-align:center;
    font-size:.75em;
    width:1.67em;
    height:1.67em;
    line-height:1.67em;
    font-family:"Open Sans","DejaVu Sans",sans-serif;
    font-style:normal;
    font-weight:bold;
}

body#threddsDocs div#content .conum[data-value] * {
    color:#fff!important;
}

body#threddsDocs div#content .conum[data-value]+b {
    display:none;
}

body#threddsDocs div#content .conum[data-value]:after {
    content:attr(data-value);
}

body#threddsDocs div#content pre .conum[data-value] {
    position:relative;top:-.125em;
}

body#threddsDocs div#content b.conum * {
    color:inherit!important;
}
body#threddsDocs div#content .conum:not([data-value]):empty {
    display:none;
}
