body {
    font-family: verdana, arial, sans-serif;
    font-size: 10pt;
    padding: 0px 10px 0px 10px;
    margin: 0px 0px 0px 0px;
    min-width: 600px;
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

small {
    font-size: 10pt;
}

code {
    font-size: 11pt;
    font-family: "Lucida Console", "Courier New", monospace;
    white-space: nowrap;
}


h1 {
    font-size: 20pt;
    padding: 0px 0px 0px 0px;
    margin: 10px 0px 50px 0px;
}


#section {
    border: 3px solid #CFCFCF;
    padding: 0px 0px 0px 0px;
    margin: 20px 0px 60px 0px;
}

#section h2 {
    padding: 0px 0px 0px 0px;
    margin: -18px 0px 0px 0px;    
    color: #9C9C9C; 
    font-size: 16pt;
}

#section h2 a {
    border: none;
    background-color: #FFFFFF; 
    padding: 0px 10px 0px 10px;
    margin: 0px 10px 0px 10px;

}

#section #subsection {
    padding: 0px 20px 0px 20px;
    margin: 20px 18px 40px 18px;
}

#section #subsection.exercise {
    background: #EFEFEF url('../images/exercise.gif') no-repeat 0px 0px;
    border: 3px solid #00B2EE;
    padding: 20px 15px 10px 100px;
    margin: -20px 30px 30px 30px;
}


#section #subsection h3 {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 20px -20px;  
    font-size: 14pt;
    color: #000000;
}



#section #subsection.exercise h3 {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 20px 0px;  
    font-size: 14pt;
    color: #000000;
}

#section #subsection.exercise ol {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 20px;
}

#section #subsection.exercise ol li {
    padding: 0px 0px 0px 0px;
    margin: 20px 0px 5px 0px; 
    font-size: 11pt;
}

#section #subsection.exercise p {
    padding: 0px 0px 0px 10px;
    margin: -10px 0px 0px 0px;  
}

#section #subsection.exercise .exercise_question {
    background: transparent url('../images/question.gif') no-repeat 10px 0px;
    padding: 20px 15px 10px 50px;
    margin: 0px 0px 0px 0px;

}



#section #subsection p {
    padding: 0px 0px 0px 0px;
    margin: 10px 0px 10px 0px; 
    font-size: 10pt;
}


#section #subsection pre  {
    white-space: pre-wrap;
    position: relative;
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 0px 0px 20px 0px;
    padding: 5px 10px 5px 10px; 
    background: #FAF8F0;  
    border: 1px solid #BEBAB0;
    font-size: 9pt;
}



#section #subsection ul {
    list-style-type: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;  
}


#section #subsection ul li {
    padding: 2px 0px 2px 25px;
    margin: 10px 0px 0px 0px;  
    font-size: 12pt;
    background: #FFFFFF url('../images/check.gif') no-repeat 0px 0px;
}


#section #subsection ul.little {
    list-style-type: disc;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 25px;  
}

#section #subsection ul.little li {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 5px 0px;  
    font-size: 10pt;
    background-image: none;
}


#section #subsection ol {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 20px;  
}


#section #subsection ol li {
    padding: 0px 0px 0px 0px;
    margin: 20px 0px 5px 0px;   
    font-size: 12pt;
}






#section #subsection #expanded {
    padding: 0px 10px 0px 48px;
    margin: 0px 0px 10px 18px;
}

#section #subsection #expanded h4 {
    font-weight: normal;
    padding: 0px 0px 0px 35px;
    margin: 20px 0px 10px 0px;   
    font-size: 12pt;
}



#section #subsection #expanded ul {
    list-style-type: disc;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 50px;  
}


#section #subsection #expanded ul li {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 5px 0px;  
    font-size: 10pt;
    background-image: none;
}


#section #subsection #expanded p {
    padding: 10px 0px 10px 10px;
    margin: 0px 0px 0px 0px;  
}




.troubleshooting {
    background: #FFFFFF url('../images/troubleshooting.gif') no-repeat 0px 0px;
}

.question {
    background: #FFFFFF url('../images/question.gif') no-repeat 10px 0px;
}




#section #subsection #info {
    z-index: 10;
    border: 1px dashed #CFCFCF;
    padding: 10px 10px 10px 10px;
    margin: -30px 0px 10px 50px;
    float: right;
    position: relative;
    width: 250px;
    right: 2px; 
    background: #EFEFEF url('../images/info.gif') no-repeat 10px 5px;

}


#section #subsection #info h4 {
    padding: 10px 0px 0px 55px;
    margin: 0px 0px 15px 0px;    
    font-size: 12pt;
}

#section #subsection #info ul {
    list-style-type: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;    
}

#section #subsection #info ul li {
    padding: 0px 0px 0px 20px;
    margin: 0px 0px 5px 0px;  
    background: transparent url('../images/arrow.gif') no-repeat 0px 1px;
}


#section #subsection #info p {
    padding: 0px 0px 0px 0px;
    margin: 5px 0px 5px 0px;  
}





