<?xml version="1.0" encoding="UTF-8"?>
<configuration monitorInterval="30">
  <properties>
    <property name="tds.content.root.path">../content</property>
    <property name="tds.log.dir">${sys:tds.content.root.path}/thredds/logs</property>
  </properties>

  <appenders>

    <!--
  <appender name="fileLogger" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="./tdm.log"/>
    <param name="DatePattern" value=".yyyy-MM-dd"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd'T'HH:mm:ss.SSS Z} %-5p - %c - %m%n"/>
    </layout>
  </appender>

  <appender name="consoleLogger" class="org.apache.log4j.ConsoleAppender">
    <param name="ImmediateFlush" value="true"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd'T'HH:mm:ss.SSS Z} %-5p - %c - %m%n"/>
    </layout>
  </appender>
  -->

    <RollingFile name="fileLogger" fileName="./tdm.log" filePattern="./tdm.%i.log">
      <PatternLayout pattern="%d{yyyy-MM-dd'T'HH:mm:ss.SSS Z} %-5p - %c - %m%n"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="1 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="10"/>
    </RollingFile>

    <Console name="consoleLogger" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-MM-dd'T'HH:mm:ss.SSS Z} %-5p - %c - %m%n"/>
    </Console>

  </appenders>

  <loggers>

    <logger name="thredds.tdm" level="info" additivity="false">
      <!-- appender-ref ref="consoleLogger"/ -->
      <appender-ref ref="fileLogger"/>
    </logger>

    <logger name="ucar.nc2.grib.grib1.Grib1CollectionBuilder" level="debug" additivity="false">
      <!-- appender-ref ref="consoleLogger"/ -->
      <appender-ref ref="fileLogger"/>
    </logger>

    <logger name="ucar.nc2.grib.grib2.Grib2CollectionBuilder" level="debug" additivity="false">
      <!-- appender-ref ref="consoleLogger"/ -->
      <appender-ref ref="fileLogger"/>
    </logger>

    <logger name="thredds.inventory" level="debug" additivity="false">
      <!-- appender-ref ref="consoleLogger"/ -->
      <appender-ref ref="fileLogger"/>
    </logger>

    <logger name="thredds.inventory.CollectionUpdater" level="debug" additivity="false">
      <!-- appender-ref ref="consoleLogger"/ -->
      <appender-ref ref="fileLogger"/>
    </logger>

    <logger name="thredds.catalog.InvDatasetFeatureCollection" level="info" additivity="false">
      <!-- appender-ref ref="consoleLogger"/ -->
      <appender-ref ref="fileLogger"/>
    </logger>

    <logger name="thredds.catalog.InvDatasetFcGrib" level="info" additivity="false">
      <!-- appender-ref ref="consoleLogger"/ -->
      <appender-ref ref="fileLogger"/>
    </logger>

    <!-- shut the f*** up -->
    <logger name="org.apache.commons.httpclient" level="error" additivity="false">
      <appender-ref ref="fileLogger"/>
    </logger>

    <root level="warn" additivity="false">
      <!-- appender-ref ref="consoleLogger"/ -->
      <appender-ref ref="fileLogger"/>
    </root>

  </loggers>

</configuration>