/* general */
body {font-size: 12pt;}
code {color: #708090 !important;}
h1 {font-size: 20pt; padding: 15px 0px 10px 80px; margin: 10px 0px 30px 0px; background: transparent url('images/thredds-50x50.png') no-repeat 0px 0px; border: none;}
h3 {padding: 0px 0px 0px 0px; margin: 20px 0px; font-size: 14pt !important; color: #000000 !important;}
h4 {border: none !important;}
pre {white-space: pre-wrap; position: relative; font-family: "Lucida Console", "Courier New", monospace; margin: 0px 0px 20px 0px; padding: 5px 10px 5px 10px; background: #FAF8F0; border: 1px solid #BEBAB0; font-size: 9pt;}
.notice {margin-top: -40px; font-size: 10pt}
ul{margin: 0 0 20px 0;}

/* breadcrumbs */
ul#breadcrumbs {list-style: none; font-size: 11px; margin: 0 0 20px 0; padding: 0; color: #696969;}
ul#breadcrumbs li {display: inline; margin: 0; padding: 0;}
ul#breadcrumbs li a {padding: 0px 20px 0px 0px; background: transparent url('images/breadcrumb.png') no-repeat center right;}

/* section formatting */
#section {border: 3px solid #CFCFCF; padding: 30px 30px 10px 30px; margin: 20px 0px 60px 0px;}
#section h2 {padding: 0px 0px 0px 0px; margin: -45px 0px 0px -15px; color: #9C9C9C; font-size: 16pt;}
#section h2 a {text-decoration: none; border: none; background-color: #FFFFFF; padding: 0px 10px 0px 10px; margin: 0px 10px 0px 0px;}
#section h2 a:hover {color: #9C9C9C;}


/* right floating boxes */
#note {z-index: 10; border: 2px dashed #4682B4; padding: 10px 10px 5px 10px; margin: 0px 0px 10px 50px; float: right; position: relative; width: 250px; font-size: 10pt;}
#note h4 {padding: 0px 0px 0px 40px; margin: 0px 0px 15px 0px; }


/* full width boxes */
#expanded {padding: 5px 5px 5px 45px; margin: 20px 0px 30px 0px; border: 1px dashed #CFCFCF; font-size: 10pt; background-color: #CFCFCF}
#expanded.exercise { padding: 5px 5px 5px 75px !important; background: transparent url('images/exercise.png') no-repeat 10px 10px; border: 1px solid #4682B4;}


/* floating boxes formatting */
.info {background: #FFFFFF url('images/info.png') no-repeat 10px 5px;}
.reminder {background: #FFFFFF url('images/reminder.png') no-repeat 10px 5px;}
.ahead {background: #FFFFFF url('images/ahead.png') no-repeat 10px 5px;}
.troubleshooting {background: transparent url('images/troubleshooting.png') no-repeat 10px 5px;}
.question {background: transparent url('images/question.png') no-repeat 10px 10px;}




/* table stuff */
table {table-layout: auto; border-collapse: separate; font-size: 10pt; }
th {text-align: left; background-color: #E7E7E7; border-spacing: 2px; border: 1px solid #CFCFCF; padding: 2px 5px 2px 5px; vertical-align: top;}
td {text-align: left; background-color: #F7F7F7; border-spacing: 2px; border: 1px solid #CFCFCF; padding: 2px 5px 2px 5px; vertical-align: top;}
table code {font-size: 10pt;}


/* tooltips */
a.tooltip {color:#0000FF; text-decoration: none;}
a.tooltip b {display:none;}
a.tooltip:hover {border:0px; position:relative; z-index:500; text-decoration:none;}
a.tooltip:hover b {display:block; position:absolute; top:20px; left:-25px; padding:5px; font-weight:normal; color:#000; border:1px solid #000000; background:#FFFFFF; width:300px;}
a.tooltip:hover b em.outer {position:absolute; left:20px; top:-8px; width:0; height:0; display:block; background:transparent; border-left:7px dashed transparent; border-right:7px dashed transparent; border-bottom:7px solid #000000; overflow:hidden; z-index:100;}
a.tooltip:hover b em.inner {position:absolute; left:20px; top:-7px; width:0; height:0; display:block; background:transparent; border-left:7px dashed transparent; border-right:7px dashed transparent; border-bottom:7px solid #FFFFFF; overflow:hidden; z-index:100}
.clear {clear:both;}

/* dialog box*/
.ui-dialog{text-align: left; font-size: 12pt !important}
.ui-dialog h3 {border-bottom: 1px solid #696969; background: transparent url('images/view.png') no-repeat left center; padding-left: 100px;}
.ui-dialog ol  {margin: 0; padding-left: 20px;}
.ui-dialog pre {margin-top: 20px}
.ui-dialog-titlebar{display: none;}


/* tutorial links */
.example {display: block; padding: 5px 5px 5px 115px !important; margin: 10px; background: transparent url('images/view.png') no-repeat 10px 2px; font-size: 11pt; color: #0000FF; cursor:pointer; }



